#root, #invitation-link-input {
    width: 100%;
    height: 100%;
}


#root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

#invitation-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    height: 100%;
    width: 50%;
}

#invitation-link-input {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #3B5BCB;
    border-radius: 25px;
}

#invitation-link-label {
    width: 35%;
    height: 3.7rem;
    text-align: center;
    font-style: italic;
    color: rgba(255, 255, 255, 0.58);
}

#invitation-link-input::placeholder {
    color: #fff;
    font-style: italic;
}

#invitation-link-input:focus {
    outline: none;
    border: 2px solid #112057;
}

#take-me-in-button {
    background-color: #1234aa;
}

#take-me-in-button:hover {
    background-color: #1c076c;
}

#are-you-a-teacher-button {
    background-color: #6f37a6;
    margin: 20px;
}

#are-you-a-teacher-button:hover {
    background-color: #5f2797;
}
